<h1>Errands App</h1>
<p>Create errands lists here!</p>

<form>
  <input type="text" name="errand_name" placeholder="enter errand here"autofocus required/>
  <input type="submit" value="Create"/>
</form>
