<h1>Welcome to the Animal Tracker</h1>

<h3>Species name</h3>
<form method="/species/create" get="post">
  <label for="name">Name</label>
  <input type="text" name-"name" id="name"></input>
  <input type="submit" value="Save"></input>
</form>
